---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Bamboo Tree Associates helps wealthy Canadians grow & preserve their legacies through smart, tax-aware investing.
`;
---
<Layout title="Bamboo Tree Associates">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Bamboo Tree Associates</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
       
</Layout>
